.goods-comment {
    width: 100%;
    margin-top: 20px 0;
    height: 100%;
}
.comment-list {
    display: flex;
    justify-content: left;
    margin-right: 50px;

}
.comment-item {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #e7c3d356;
    }
}

.comment-detail-list {
    margin-top: 20px;
    width: 50%;
    // height: 50px;

}
.comment-detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.left {
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}
.right {
    width: 90%;
    margin-left: 15px;
}

.comment-content {
    width: 90%;
    height: 80px;
    overflow: hidden;
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-indent: 2em;
}
.comment-img {
    margin-top: 10px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        li {
            img {
                width: 100px;
                height: 100px;
                margin-right: 10px;
                object-fit: cover;
            }
        }
    }
}

.more-comment {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    align-content: center;
    margin: 20px auto;
    color: #666;
    cursor: pointer;
    border-radius: 10px;
    background: #eee;
    &:hover {
        color: #ff6700;
    }
}

.no-comment {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    color: #666;
    margin-top: 50px;
    font-size: 26px;
    font-weight: bold;
}